#upload-icon, #hamburger-icon, #bell-icon {
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.profile-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }

.NavBar, #right-components, #left-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar {
    width: 100%;
}

#right-components{
    width: 145px;
    margin: 0px 10px 0px 20px;
}

#left-components{
    margin: 0px 20px 0px 10px;
}

#center-components {
    width: 80%;
    max-width: 600px;
}
