#upload-icon, #hamburger-icon, #bell-icon {
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.profile-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right-components {
    display: flex;
    align-items: center;
}

#search-bar {
    width: 60vw;
    max-width: 500px !important;

}

#right-components{
    width: 145px;
    margin: 0px 30px;
}

#left-components{
    margin: 0px 30px;
}
